@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  background-color: #f0f2f5;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
